<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-immatriculation-heading" jhiTranslate="portailCssipresApp.immatriculation.home.createOrEditLabel">Create or edit a Immatriculation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group"  >
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.regType" for="field_regType">Reg Type</label>
                    <input type="text" class="form-control" name="regType" id="field_regType"
                           formControlName="regType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.employerType" for="field_employerType">Employer Type</label>
                    <input type="text" class="form-control" name="employerType" id="field_employerType"
                           formControlName="employerType"/>
                    <div *ngIf="editForm.get('employerType')!.invalid && (editForm.get('employerType')!.dirty || editForm.get('employerType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('employerType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.typeEtablissement" for="field_typeEtablissement">Type Etablissement</label>
                    <input type="text" class="form-control" name="typeEtablissement" id="field_typeEtablissement"
                           formControlName="typeEtablissement"/>
                    <div *ngIf="editForm.get('typeEtablissement')!.invalid && (editForm.get('typeEtablissement')!.dirty || editForm.get('typeEtablissement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeEtablissement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.employerName" for="field_employerName">Employer Name</label>
                    <input type="text" class="form-control" name="employerName" id="field_employerName"
                           formControlName="employerName"/>
                    <div *ngIf="editForm.get('employerName')!.invalid && (editForm.get('employerName')!.dirty || editForm.get('employerName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('employerName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.hqId" for="field_hqId">Hq Id</label>
                    <input type="text" class="form-control" name="hqId" id="field_hqId"
                           formControlName="hqId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.nineaNumber" for="field_nineaNumber">Ninea Number</label>
                    <input type="text" class="form-control" name="nineaNumber" id="field_nineaNumber"
                           formControlName="nineaNumber"/>
                    <div *ngIf="editForm.get('nineaNumber')!.invalid && (editForm.get('nineaNumber')!.dirty || editForm.get('nineaNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nineaNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.ninetNumber" for="field_ninetNumber">Ninet Number</label>
                    <input type="text" class="form-control" name="ninetNumber" id="field_ninetNumber"
                           formControlName="ninetNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.compagnyOriginId" for="field_compagnyOriginId">Compagny Origin Id</label>
                    <input type="text" class="form-control" name="compagnyOriginId" id="field_compagnyOriginId"
                           formControlName="compagnyOriginId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.legalStatus" for="field_legalStatus">Legal Status</label>
                    <input type="text" class="form-control" name="legalStatus" id="field_legalStatus"
                           formControlName="legalStatus"/>
                    <div *ngIf="editForm.get('legalStatus')!.invalid && (editForm.get('legalStatus')!.dirty || editForm.get('legalStatus')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('legalStatus')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.taxId" for="field_taxId">Tax Id</label>
                    <input type="text" class="form-control" name="taxId" id="field_taxId"
                           formControlName="taxId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.taxIdDate" for="field_taxIdDate">Tax Id Date</label>
                    <div class="input-group">
                        <input id="field_taxIdDate" type="text" class="form-control" name="taxIdDate" ngbDatepicker #taxIdDateDp="ngbDatepicker" formControlName="taxIdDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="taxIdDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.tradeRegisterNumber" for="field_tradeRegisterNumber">Trade Register Number</label>
                    <input type="text" class="form-control" name="tradeRegisterNumber" id="field_tradeRegisterNumber"
                           formControlName="tradeRegisterNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.tradeRegisterDate" for="field_tradeRegisterDate">Trade Register Date</label>
                    <div class="input-group">
                        <input id="field_tradeRegisterDate" type="text" class="form-control" name="tradeRegisterDate" ngbDatepicker #tradeRegisterDateDp="ngbDatepicker" formControlName="tradeRegisterDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="tradeRegisterDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.dateOfInpsection" for="field_dateOfInpsection">Date Of Inpsection</label>
                    <div class="input-group">
                        <input id="field_dateOfInpsection" type="text" class="form-control" name="dateOfInpsection" ngbDatepicker #dateOfInpsectionDp="ngbDatepicker" formControlName="dateOfInpsection"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfInpsectionDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.dateOfFirtHire" for="field_dateOfFirtHire">Date Of Firt Hire</label>
                    <div class="input-group">
                        <input id="field_dateOfFirtHire" type="text" class="form-control" name="dateOfFirtHire" ngbDatepicker #dateOfFirtHireDp="ngbDatepicker" formControlName="dateOfFirtHire"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfFirtHireDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.shortName" for="field_shortName">Short Name</label>
                    <input type="text" class="form-control" name="shortName" id="field_shortName"
                           formControlName="shortName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.businessSector" for="field_businessSector">Business Sector</label>
                    <input type="text" class="form-control" name="businessSector" id="field_businessSector"
                           formControlName="businessSector"/>
                    <div *ngIf="editForm.get('businessSector')!.invalid && (editForm.get('businessSector')!.dirty || editForm.get('businessSector')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('businessSector')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.mainLineOfBusiness" for="field_mainLineOfBusiness">Main Line Of Business</label>
                    <input type="text" class="form-control" name="mainLineOfBusiness" id="field_mainLineOfBusiness"
                           formControlName="mainLineOfBusiness"/>
                    <div *ngIf="editForm.get('mainLineOfBusiness')!.invalid && (editForm.get('mainLineOfBusiness')!.dirty || editForm.get('mainLineOfBusiness')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mainLineOfBusiness')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.noOfWorkersInGenScheme" for="field_noOfWorkersInGenScheme">No Of Workers In Gen Scheme</label>
                    <input type="number" class="form-control" name="noOfWorkersInGenScheme" id="field_noOfWorkersInGenScheme"
                           formControlName="noOfWorkersInGenScheme"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.noOfWorkersInBasicScheme" for="field_noOfWorkersInBasicScheme">No Of Workers In Basic Scheme</label>
                    <input type="number" class="form-control" name="noOfWorkersInBasicScheme" id="field_noOfWorkersInBasicScheme"
                           formControlName="noOfWorkersInBasicScheme"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.region" for="field_region">Region</label>
                    <input type="text" class="form-control" name="region" id="field_region"
                           formControlName="region"/>
                    <div *ngIf="editForm.get('region')!.invalid && (editForm.get('region')!.dirty || editForm.get('region')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('region')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.department" for="field_department">Department</label>
                    <input type="text" class="form-control" name="department" id="field_department"
                           formControlName="department"/>
                    <div *ngIf="editForm.get('department')!.invalid && (editForm.get('department')!.dirty || editForm.get('department')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('department')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.arondissement" for="field_arondissement">Arondissement</label>
                    <input type="text" class="form-control" name="arondissement" id="field_arondissement"
                           formControlName="arondissement"/>
                    <div *ngIf="editForm.get('arondissement')!.invalid && (editForm.get('arondissement')!.dirty || editForm.get('arondissement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('arondissement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.commune" for="field_commune">Commune</label>
                    <input type="text" class="form-control" name="commune" id="field_commune"
                           formControlName="commune"/>
                    <div *ngIf="editForm.get('commune')!.invalid && (editForm.get('commune')!.dirty || editForm.get('commune')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commune')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.qartier" for="field_qartier">Qartier</label>
                    <input type="text" class="form-control" name="qartier" id="field_qartier"
                           formControlName="qartier"/>
                    <div *ngIf="editForm.get('qartier')!.invalid && (editForm.get('qartier')!.dirty || editForm.get('qartier')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('qartier')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                    <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.postboxNo" for="field_postboxNo">Postbox No</label>
                    <input type="text" class="form-control" name="postboxNo" id="field_postboxNo"
                           formControlName="postboxNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.website" for="field_website">Website</label>
                    <input type="text" class="form-control" name="website" id="field_website"
                           formControlName="website"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.zoneCss" for="field_zoneCss">Zone Css</label>
                    <input type="text" class="form-control" name="zoneCss" id="field_zoneCss"
                           formControlName="zoneCss"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.zoneIpres" for="field_zoneIpres">Zone Ipres</label>
                    <input type="text" class="form-control" name="zoneIpres" id="field_zoneIpres"
                           formControlName="zoneIpres"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.sectorCss" for="field_sectorCss">Sector Css</label>
                    <input type="text" class="form-control" name="sectorCss" id="field_sectorCss"
                           formControlName="sectorCss"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.sectorIpres" for="field_sectorIpres">Sector Ipres</label>
                    <input type="text" class="form-control" name="sectorIpres" id="field_sectorIpres"
                           formControlName="sectorIpres"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.agencyCss" for="field_agencyCss">Agency Css</label>
                    <input type="text" class="form-control" name="agencyCss" id="field_agencyCss"
                           formControlName="agencyCss"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.agencyIpres" for="field_agencyIpres">Agency Ipres</label>
                    <input type="text" class="form-control" name="agencyIpres" id="field_agencyIpres"
                           formControlName="agencyIpres"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.employerRegistrationFormId" for="field_employerRegistrationFormId">Employer Registration Form Id</label>
                    <input type="text" class="form-control" name="employerRegistrationFormId" id="field_employerRegistrationFormId"
                           formControlName="employerRegistrationFormId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.employeeRegistrationFormId" for="field_employeeRegistrationFormId">Employee Registration Form Id</label>
                    <input type="text" class="form-control" name="employeeRegistrationFormId" id="field_employeeRegistrationFormId"
                           formControlName="employeeRegistrationFormId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.processFlowId" for="field_processFlowId">Process Flow Id</label>
                    <input type="text" class="form-control" name="processFlowId" id="field_processFlowId"
                           formControlName="processFlowId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.statutDossier" for="field_statutDossier">Statut Dossier</label>
                    <input type="text" class="form-control" name="statutDossier" id="field_statutDossier"
                           formControlName="statutDossier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.statutImmatriculation" for="field_statutImmatriculation">Statut Immatriculation</label>
                    <input type="checkbox" class="form-control" name="statutImmatriculation" id="field_statutImmatriculation"
                           formControlName="statutImmatriculation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.representantLegal" for="field_representantLegal">Representant Legal</label>
                    <select class="form-control" id="field_representantLegal" name="representantLegal" formControlName="representantLegal">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="representantLegalOption.id === editForm.get('representantLegal')!.value?.id ? editForm.get('representantLegal')!.value : representantLegalOption" *ngFor="let representantLegalOption of representantlegals; trackBy: trackById">{{ representantLegalOption.firstName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.immatriculation.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
