<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-representant-legal-heading" jhiTranslate="portailCssipresApp.representantLegal.home.createOrEditLabel">Create or edit a Representant Legal</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.legalRepPerson" for="field_legalRepPerson">Legal Rep Person</label>
                    <input type="text" class="form-control" name="legalRepPerson" id="field_legalRepPerson"
                           formControlName="legalRepPerson"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.birthdate" for="field_birthdate">Birthdate</label>
                    <div class="input-group">
                        <input id="field_birthdate" type="text" class="form-control" name="birthdate" ngbDatepicker #birthdateDp="ngbDatepicker" formControlName="birthdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('birthdate')!.invalid && (editForm.get('birthdate')!.dirty || editForm.get('birthdate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('birthdate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.nationality" for="field_nationality">Nationality</label>
                    <input type="text" class="form-control" name="nationality" id="field_nationality"
                           formControlName="nationality"/>
                    <div *ngIf="editForm.get('nationality')!.invalid && (editForm.get('nationality')!.dirty || editForm.get('nationality')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nationality')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.nin" for="field_nin">Nin</label>
                    <input type="text" class="form-control" name="nin" id="field_nin"
                           formControlName="nin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.placeOfBirth" for="field_placeOfBirth">Place Of Birth</label>
                    <input type="text" class="form-control" name="placeOfBirth" id="field_placeOfBirth"
                           formControlName="placeOfBirth"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.cityOfBirth" for="field_cityOfBirth">City Of Birth</label>
                    <input type="text" class="form-control" name="cityOfBirth" id="field_cityOfBirth"
                           formControlName="cityOfBirth"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.typeOfIdentity" for="field_typeOfIdentity">Type Of Identity</label>
                    <input type="text" class="form-control" name="typeOfIdentity" id="field_typeOfIdentity"
                           formControlName="typeOfIdentity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.identityIdNumber" for="field_identityIdNumber">Identity Id Number</label>
                    <input type="text" class="form-control" name="identityIdNumber" id="field_identityIdNumber"
                           formControlName="identityIdNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.ninCedeo" for="field_ninCedeo">Nin Cedeo</label>
                    <input type="text" class="form-control" name="ninCedeo" id="field_ninCedeo"
                           formControlName="ninCedeo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.issuedDate" for="field_issuedDate">Issued Date</label>
                    <input type="text" class="form-control" name="issuedDate" id="field_issuedDate"
                           formControlName="issuedDate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.expiryDate" for="field_expiryDate">Expiry Date</label>
                    <input type="text" class="form-control" name="expiryDate" id="field_expiryDate"
                           formControlName="expiryDate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.region" for="field_region">Region</label>
                    <input type="text" class="form-control" name="region" id="field_region"
                           formControlName="region"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.department" for="field_department">Department</label>
                    <input type="text" class="form-control" name="department" id="field_department"
                           formControlName="department"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.arondissement" for="field_arondissement">Arondissement</label>
                    <input type="text" class="form-control" name="arondissement" id="field_arondissement"
                           formControlName="arondissement"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.commune" for="field_commune">Commune</label>
                    <input type="text" class="form-control" name="commune" id="field_commune"
                           formControlName="commune"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.qartier" for="field_qartier">Qartier</label>
                    <input type="text" class="form-control" name="qartier" id="field_qartier"
                           formControlName="qartier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.landLineNumber" for="field_landLineNumber">Land Line Number</label>
                    <input type="text" class="form-control" name="landLineNumber" id="field_landLineNumber"
                           formControlName="landLineNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.mobileNumber" for="field_mobileNumber">Mobile Number</label>
                    <input type="text" class="form-control" name="mobileNumber" id="field_mobileNumber"
                           formControlName="mobileNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssipresApp.representantLegal.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
