<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="representantLegal">
            <h2><span jhiTranslate="portailCssipresApp.representantLegal.detail.title">Representant Legal</span> {{ representantLegal.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.legalRepPerson">Legal Rep Person</span></dt>
                <dd>
                    <span>{{ representantLegal.legalRepPerson }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ representantLegal.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.firstName">First Name</span></dt>
                <dd>
                    <span>{{ representantLegal.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.birthdate">Birthdate</span></dt>
                <dd>
                    <span>{{ representantLegal.birthdate }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.nationality">Nationality</span></dt>
                <dd>
                    <span>{{ representantLegal.nationality }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.nin">Nin</span></dt>
                <dd>
                    <span>{{ representantLegal.nin }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.placeOfBirth">Place Of Birth</span></dt>
                <dd>
                    <span>{{ representantLegal.placeOfBirth }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.cityOfBirth">City Of Birth</span></dt>
                <dd>
                    <span>{{ representantLegal.cityOfBirth }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.typeOfIdentity">Type Of Identity</span></dt>
                <dd>
                    <span>{{ representantLegal.typeOfIdentity }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.identityIdNumber">Identity Id Number</span></dt>
                <dd>
                    <span>{{ representantLegal.identityIdNumber }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.ninCedeo">Nin Cedeo</span></dt>
                <dd>
                    <span>{{ representantLegal.ninCedeo }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.issuedDate">Issued Date</span></dt>
                <dd>
                    <span>{{ representantLegal.issuedDate }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.expiryDate">Expiry Date</span></dt>
                <dd>
                    <span>{{ representantLegal.expiryDate }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.region">Region</span></dt>
                <dd>
                    <span>{{ representantLegal.region }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.department">Department</span></dt>
                <dd>
                    <span>{{ representantLegal.department }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.arondissement">Arondissement</span></dt>
                <dd>
                    <span>{{ representantLegal.arondissement }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.commune">Commune</span></dt>
                <dd>
                    <span>{{ representantLegal.commune }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.qartier">Qartier</span></dt>
                <dd>
                    <span>{{ representantLegal.qartier }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.address">Address</span></dt>
                <dd>
                    <span>{{ representantLegal.address }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.landLineNumber">Land Line Number</span></dt>
                <dd>
                    <span>{{ representantLegal.landLineNumber }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.mobileNumber">Mobile Number</span></dt>
                <dd>
                    <span>{{ representantLegal.mobileNumber }}</span>
                </dd>
                <dt><span jhiTranslate="portailCssipresApp.representantLegal.email">Email</span></dt>
                <dd>
                    <span>{{ representantLegal.email }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/representant-legal', representantLegal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
